.booking-backdrop {
  position: fixed;
  inset: 0;
  background-color: #4140406e;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  /* ensure it’s above other content */
}

.booking-container {
    position: fixed;
    top: 0;
    right: 0;
}

.booking-side {
  width: fit-content;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  animation: bookingSlideIn 0.3s ease-out;
  align-items: center;
  height: max-content;
  padding: 2vw 2vw 4vw 2vw;
  background-color: #ecefea;
  max-height: 100vh;
}

.booking-title {
  color: #414b3a;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: calc(12px + 1.5vw);
}

.booking-sub-title {
    font-weight: 400;
    color: var(--brand-green);
}

.booking-close {
    border: none;
    background: none;
    font-size: calc(10px + 1.5vw);
    cursor: pointer;
}

.booking-button-cont {
    display: flex;
    justify-content: space-evenly;
}

@keyframes bookingSlideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.booking-button-submit {
  background-color: #0003;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: calc(10px + 0.7vw);
  margin-top: 5vh;
  padding: 0.5rem 1.2rem;
  width: auto;
  cursor: pointer;
}

.booking-button-submit-60 {
  background-color: #7cac5b;
}

.booking-button-submit-90 {
  background-color: #6db0d4ec;
}

.booking-names {
  justify-content: space-between;
  height: 100%;
  padding: 0 4vw;
  width: calc(min(380px, 100vw));
}

.booking-name-input {
  height: 30px;
  border: none;
  padding-left: 6px;
  font-size: calc(10px + 0.5vw);
}

.booking-name-label {
  text-align: left;
  font-size: calc(10px + 0.6vw);
  margin-top: 18px;
  margin-bottom: 4px;
}
