:root {
  --acc-gap: 2vw;
  --acc-radius: 14px;
  --acc-duration: 850ms;
  --acc-ease: cubic-bezier(0.2, 0.7, 0.2, 1);
}


.acc-container {
    display: flex;
    flex-direction: column;
    top: 0;
    height: 10vh;
    /* height: 62vh; */
}


@media (min-width: 640px) {
  .acc-container {
    height: 62vh;
    flex-direction: row;
  }
}

.acc-container-open {
    height: 45vh;
}

@media (min-width: 640px) {
  .acc-container-open {
    height: 62vh;
  }
}

.acc-button {
    border: none;
    height: 100%;
    flex: 1;
}

.acc-title {
    width: 6vw;
    place-content: center;
    font-size: calc(16px + 1vw);
    color: white;
    font-weight: 200;
}

@media (min-width: 640px) {
  .acc-title {
        writing-mode: vertical-rl;
  }
}

.acc-modal-backdrop {
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  /* push modal to the right */
  z-index: 1000;
  /* ensure it’s above other content */
  transition: flex-basis var(--acc-duration) var(--acc-ease),
    flex-grow var(--acc-duration) var(--acc-ease),
    min-width var(--acc-duration) var(--acc-ease), transform 1860ms ease;
}

.acc-modal-side {
  position: relative;
  flex: 1 1 0%;
  flex: 7;
  min-width: var(--min-collapsed, 40px);
  background: #8ba87c;
  overflow: hidden;
  height: 100%;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  animation: accSlideUp 0.5s ease-in;
  display: flex;
}

.acc-side-right {}

@media (min-width: 640px) {
  .acc-modal-side {
  /* position: relative;
  flex: 1 1 0%;
  flex: 7;
  min-width: var(--min-collapsed, 40px);
  background: #8ba87c;
  overflow: hidden;
  height: 100%;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2); */
  animation: accSlideIn 0.5s ease-in;
  /* display: flex;  */
 }
 .acc-side-right {
    animation: accSlideInR 0.5s ease-in;

 }
}

.acc-button-slide {
  position: relative;
  flex: 7;
  overflow: hidden;
  height: 100%;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  animation: accSlideOut 0.5s ease-out;
  width: 0;
}

.acc-button-slide article {
  opacity: 0;
}

@keyframes accSlideIn {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes accSlideInR {
    from {
        transform: translateX(20%);

    }
    to {
        transform: translateX(0);
    }
}

@keyframes accSlideUp {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes accSlideOut {
  from {
    transform: translateX(100%);
    width: auto;
  }
  to {
    transform: translateX(0);
    width: 0;
  }
}
