/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* :root {
  --rdp-accent-color: white !important;
} */
.rdp-root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  --rdp-accent-color: white !important;
  --rdp-today-color: white !important;
  --rdp-selected-border: white;
}


[id*="onetrust-consent-sdk"] {
  display: none;
}


[id*="calendly-dock"] {
  display: none;
}

:root {
  --card-radius: 14px;
  --gap: 2.25rem;
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  /* color: #8ba87c; */
      color: #414b3a;

  text-decoration: inherit;
}

a:hover {
  /* color: #535bf2; */
  /* color: #8ba87c; */
  color: black;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px;
   */
  min-width: 100vw;
  min-height: 100vh;
}

main {
  /* margin-top: calc(max(12vw, 10vh)); */
  width: calc(100vw - 50px);
  width: 100vw;
}
/* 
nav {
  padding: 1vw 2vw 1vw 2vw;
  background-color: #414b3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav a {
  color: #fff9f3;
  margin-left: 2vw;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: calc(8px + 1vw);


}

nav a:hover {
  color: #8ba87c;
} */

.my-rdp-navigator {
  /* background-color: #414b3a; */
  color: #fff9f3;
  /* padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

}

h2 {
  /* height: 100vh; */
  /* padding: 20vh 5vw 0 5vw; */
  font-family: "Montserrat";
  font-size: calc(12px + 2vw);
  color: #fff9f3;
  text-align: center;
  font-weight: 200;
  /* margin-top: 12vw; */
}

h3 {
  font-family: "Belleza";
  font-size: calc(10px + 2vw);
  color: #fff9f3;
  text-align: center;
  margin: 0;
  /* font-weight: 200; */
}

footer {
  background-color: #5d5340;
  color: #fff9f3;
  padding: 2vw 2vw 3vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer img {
  width: 45vw;
} */

.button {
  /* border-radius: 24px; */
  border: 2px solid #8ba87c;
  border: 2px solid #fff9f3c2;
  border-radius: 12px;
  padding: 0.5em .7em;
  font-size: 1em;
  font-size: calc(8px + .8vw);

  font-weight: 500;
  font-family: 'Montserrat';
  background-color: #1a1a1a;
  background-color: #fff9f3;
  background-color: #fff9f3c2;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #414b3a
}

.button:hover {
  /* border-color: #8ba87c; */
    /* border: 2px solid #8ba87c; */
    background-color: #8ba87c;
    color: #5d5340;
      color: #fff9f3;


}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */
  /* a:hover {
    color: #747bff;
    color: #8ba87c;
  } */

  /* button {
    background-color: #8ba87c;
  } */
}


@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Belleza";
  src: local("Belleza"),
    url("./fonts/Belleza-Regular.ttf") format("truetype");
}