@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer base {

  [id*="onetrust-consent-sdk"] {
    display: none;
  }

  [id*="calendly-dock"] {
    display: none;
  }

  :root {
    --card-radius: 14px;
    --gap: 2.25rem;
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    --brand-green: #414b3a;
    --brand-white: #fff9f3;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    font-weight: 500;
    color: #414b3a;
    text-decoration: none;
  }

  a:hover {
    color: black;
  }

  body {
    margin: 0;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
  }

  main {
    width: 100vw;
  }

  .my-rdp-navigator {
    color: #fff9f3;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
 

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Belleza";
    src: local("Belleza"), url("./fonts/Belleza-Regular.ttf") format("truetype");
  }
}

@layer components {
  /* App styles migrated from App.css */
  .logo {
    will-change: filter;
    transition: filter 300ms;
    width: 30vw;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @keyframes spinX3 {
    from {
      transform: rotateX(0deg);
    }

    to {
      transform: rotateX(360deg);
    }
  }

  .spin-y-3 {
    display: inline-block;
    animation: spinX3 3s ease-in-out forwards;
    transform-style: preserve-3d;
  }

  @media (min-width: 640px) {
    @keyframes spinY3 {
      from {
        transform: rotateY(0deg);
      }

      to {
        transform: rotateY(360deg);
      }
    }

    .spin-y-3 {
      animation: spinY3 3s ease-in-out forwards;
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

.hero-banner {
  position: relative;
  animation: slideUp 1.2s ease-out forwards;
  transform: translateY(100%);
  /* start off-screen at bottom */
  opacity: 0;
  /* start invisible */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* CalendarWithSlots.css */
}
