.rdp-root {
  --rdp-accent-color: #7cac5b !important;
  --rdp-today-color: #7cac5b !important;
  --rdp-selected-border: #7cac5b;
  --rdp-day_button-height: 50px;
  --rdp-day_button-width: 50px;
}

.rdp-weekdays {
  font-size: calc(8px + 1vw);
}

.rdp-day_button {
  --rdp-day_button-height: 50px;
  --rdp-day_button-width: 50px;
  font-size: calc(8px + 1vw) !important;
}

.rdp-month_caption {
  font-family: "Montserrat";
  font-size: calc(10px + 1vw) !important;
  justify-content: center;
  font-weight: 400 !important;
  height: 50px !important;
}

.rdp-caption_label {
  z-index: unset !important;
}

[id*="onetrust-consent-sdk"] {
  display: none;
}

[id*="calendly-dock"] {
  display: none;
}

:root {
  --card-radius: 14px;
  --gap: 2.25rem;
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  --brand-green: #414b3a;
  --brand-white: #fff9f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #414b3a;

  /* text-decoration: inherit; */
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  width: 100vw;
}

.my-rdp-navigator {
  color: #fff9f3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: "Montserrat";
  font-size: calc(12px + 2vw);
  color: #fff9f3;
  text-align: center;
  font-weight: 200;
}

h3 {
  font-family: "Belleza";
  font-size: calc(10px + 2vw);
  color: #fff9f3;
  text-align: center;
  margin: 0;
}

footer {
  background-color: #5d5340;
  color: #fff9f3;
  padding: 2vw 2vw 3vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border: 2px solid #fff9f3c2;
  border-radius: 12px;
  padding: 0.5em 0.7em;
  font-size: calc(8px + 0.8vw);
  font-weight: 500;
  font-family: "Montserrat";
  background-color: #fff9f3c2;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #414b3a;
}

.button:hover {
  background-color: #8ba87c;
  color: #fff9f3;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Belleza";
  src: local("Belleza"), url("./fonts/Belleza-Regular.ttf") format("truetype");
}
